---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import NavBar from  '../components/NavBar.astro';
import {formatDate} from '../js/utils.js';
import BlogList from '../components/BlogList.vue';

let posts = Object.values(import.meta.glob('./blogs/*.{md,mdx}', { eager: true }))
const uniqueCategories = new Set(posts.map(post => post.frontmatter.category).filter(Boolean));
let selectedCategory = null
---

<Layout>
<NavBar/>
<BlogList all-posts={posts}  client:load/>
<!-- <div class="blog-list-container"> -->
<!--     <div class="blog-category"> -->
<!--         <p class="heading">Categories</p> -->
<!--         <ul> -->
<!--             {Array.from(uniqueCategories).map(category =>  -->
<!--             <li>{category}</li> -->
<!--             )} -->
<!--         </ul> -->
<!--     </div> -->
<!--     <div class="blog-list"> -->
<!--             {posts.map(post =>  -->
<!--             <div class="blog-item"> -->
<!--                 <a href={post.url} class="title">{post.frontmatter.title}</a> -->
<!--                 <p class="date" class="date">{formatDate(post.frontmatter.date)}</p> -->
<!--                 <p class="description" class="description">{post.frontmatter.description}</p> -->
<!--             </div>)} -->
<!--     </div> -->
<!-- </div> -->
</Layout>

<script>
    let selectedCategory = null;
    let posts = Object.values(import.meta.glob(`./blogs/*.{md,mdx}`, { eager: true }));
    function updateCategory(category) {
        selectedCategory = category;
        posts = Object.values(import.meta.glob(`./blogs/*.{md,mdx}`, { eager: true }))
            .filter(post => post.frontmatter.category === selectedCategory);
    }
    document.querySelectorAll('.blog-category li').forEach(item => {
        item.addEventListener('click', function() {
            const category = this.textContent;
            updateCategory(category);
        });
    });
</script>

<style>
    body {
        font-family: 'RobotoLocal', sans-serif;
    }





    @media screen and (min-width: 40em) {
        .blog-list {
            max-width: 43em;
            margin: 0 auto;
        }
    }


</style>
